{% extends "account/login.html" %}

{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}






{% block form %}
    
<h5 class="nk-block-title">We have sent you an email </h5>
                                    
                                          <p>If you have not received it please check your spam folder.<br> Otherwise contact us if you do not receive it in a few minutes.</p>

{% endblock form %}